@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(147, 153, 178, 0.15);
    backdrop-filter: blur(10px);
  }
}

body {
  color: var(--foreground);
  background: rgb(24, 24, 37);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.social-link {
  transition: color 0.3s;
}
